* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

.title-green{
    color: #2f9e44;
    font-weight: bold;
    margin-top: 5%;

}

.subtitle-blue{
    color: #1971c2;
    font-weight: bold;
    margin-top: 3%;
}

.block-info{
    display: flex;
    flex-direction: column;
}